.cabecalho{
    display: flex;
    position: absolute;
    margin-top: 100px;
    margin-bottom: 0px;
    flex-direction: row;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.cabecalho div{
    padding: 50px;
    align-content: center;
    align-items: center;
}

.cabecalho div a{
    text-decoration: none;
    font-size: 8vh;
}

.logo{
    height: 200px;
}

.painel-1{
    display: flex;
    position: absolute;
    margin-top: 220px;
}

.contato{
    display: flex;
    position: absolute;
    margin-top: 800px;
}

.redessociais{
    display: flex;
    position: absolute;
    margin-top: 800px;
}